#key-7 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#key-8 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#key-9 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#key-4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#key-5 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#key-6 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#key-1 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#key-2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#key-3 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

#key-neg {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

#key-0 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

#key-dot {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

/* OPERATORS */

#key-ac {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#key-del {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#key-sqrt {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#key-pow {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#key-div {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#key-mult {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#key-subs {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

#key-sum {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

#key-equal {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}